<!-- Login box  -->
<div class="login--wrap">
    <div class="login-container">
        <div class="login--box">

            <form data-bind="submit: onSubmitForgotPassword">
            <div class="padding-wrap">

                    <!-- ko ifnot: logo() === "" -->
                    <div class="teamwork-box-logo">
                        <img src="images/tw-transparent-logo.png" alt="Teamwork.com">
                    </div>
                    <!-- /ko -->

                    <div class="custom-login-logo">
                        <div class="image-wrap">
                            <!-- ko if: logo() === "" -->
                                <img src="images/logo-login.png" alt="Teamwork.com">
                            <!-- /ko -->
                            <!-- ko if: logo() !== "" -->
                                <img data-bind="attr: { src: logo }" alt="">
                            <!-- /ko -->
                        </div><!-- image wrap -->
                    </div><!-- custom logo -->

                    <h2 class="login-site_name" data-bind="text: siteName"></h2>

                    <p>Please fill in your email to reset your password</p>

                    <!-- ko if: isSubmitting() && 0 -->
                    <div class="login-logedin-loader">
                        <span class="load-spin"></span>
                    </div>
                    <!-- /ko -->

                    <div xdata-bind="visible:!isSubmitting()">
                        <div class="fields-holder">
                            <div class="field-row">
                                <label class="input-label">Your Email</label>
                                <input type="text" id="password" tabindex="2" name="password" value="" class="input-field" placeholder="Username or Email" data-bind="value: email">
                                <i class="icon icon-user"></i>
                            </div><!-- row -->
                        </div><!-- fields holder -->

                        <div class="button-holder">
                            <button class="ladda-button button-login" data-style="zoom-out" data-bind="ladda: isSubmitting"><span class="ladda-label" data-bind="text:(isSubmitting()?'Resetting Password...':'Reset Password')"></span></button>
                        </div><!-- button holder -->
                    </div>

            </div><!-- padding -->
            </form>

        </div><!-- login box -->

    </div><!-- container -->

</div><!-- login wrap -->
<!-- Login box - end -->
<!-- IMPORTANT - Mark this template loaded -->
<!-- ko if: $data.isLoaded != null && isLoaded -->
    <div data-bind="text:templateLoaded(true)" style="display:none"></div>
<!-- /ko -->