<div class="site--wrap">
  <header class="site--header custom-site-header-color">
    <div class="container">
      <a href="{{.urlPrefix}}" class="brand-logo">
        {{if .site.LogoImage}}
          <img src="{{.site.LogoImage}}" alt="{{.site.Name}}">
        {{else}}
          {{.site.Name}}
        {{end}}
      </a>

      <a href="#" class="menu-toggle visible-xs" tabindex="1">
        <span class="text-hide">{{translate "Menu" .}}</span>
        <span class="menu-lines">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>

      <nav class="header--nav">
        <ul>
          {{if .site.HomePageLinkEnabled}}
            <li><a href="{{.site.HomePageURL}}">{{.site.HomePageLinkText}}</a></li>
          {{end}}
          {{if .site.ContactFormEnabled}}
            <li><a href="#" data-toggle="modal" data-target="#contact-form">{{translate "Submit a Request" .}}</a></li>
          {{end}}
        </ul>
      </nav>

    </div><!-- container -->
  </header><!-- site header -->
  <section class="site--main">
    {{if .flash.error}}
      <div class="alert alert-danger text-center">
        <div class="container">
          <h4>{{.flash.error}}</h4>
        </div>
      </div>
    {{end}}

    {{if .flash.success}}
      <div class="alert alert-success text-center">
        <div class="container">
          <h4>{{.flash.success}}</h4>
        </div>
      </div>
    {{end}}