<div class="blank-page-holder">
    <div class="image-hold">
        <img data-bind="attr:{ src:'images/blankslates/' + icon }">
    </div>
    <h2 class="in-title" data-bind="text:title"></h2>
    <p data-bind="html:text"></p>
    <!-- ko if: clickText && onClick -->
    <div class="button-holder">
        <a href="#" class="btn btn-success" data-bind="text:clickText,click:onClick"></a>
    </div>
    <!-- /ko -->
</div><!-- blank page -->

<!-- IMPORTANT - Mark this template loaded -->
<!-- ko if: $data.readyToShow != null && readyToShow -->
    <div data-bind="template:{afterRender:function(){templateLoaded(true)}}" class="hidden"></div>
<!-- /ko -->