<div class="blank-page-holder">
    <div class="image-hold">
        <img data-bind="attr:{ src:'images/blankslates/' + icon }">
    </div>
    <h2 class="in-title" data-bind="text:title"></h2>
    <p data-bind="html:text"></p>
    <!-- <a href="#" class="video">Video like this</a> -->
    <!-- ko if: clickText != null && onClick != null -->
    <div class="button-holder">
        <a href="#" class="btn btn-success" data-bind="text:clickText,click:onClick"></a>
    </div>
    <!-- /ko -->
</div><!-- blank page -->

<!-- IMPORTANT - Mark this template loaded -->
<!-- ko if: $data.isLoaded != null && isLoaded -->
    <div data-bind="text:templateLoaded(true)" style="display:none"></div>
<!-- /ko -->