<aside class="column-left custom_scroll" id="inbox-left-sidebar">
    <div class="panel-group" data-toggle="">
		<!-- ko component: { name: 'pageLHS-nav-inboxes' } --><!-- /ko -->
    </div>
</aside>

<!-- ko if: readyToShow() -->

	<!-- ko if: app.currentRoute().pageMain !== undefined -->
		<!-- ko component: { name: pageMainComponent() } --><!-- /ko -->
	<!-- /ko -->

<!-- /ko -->
<!-- IMPORTANT - Mark this template loaded -->
<!-- ko if: $data.readyToShow != null && readyToShow -->
    <div data-bind="template:{afterRender:function(){templateLoaded(true)}}" class="hidden"></div>
<!-- /ko -->