<!-- Login box  -->
<div class="login--wrap">
    <div class="login-container">
        <div class="login--box">

            <form data-bind="submit: onSubmitResetPassword">
            <div class="padding-wrap">

                    <!-- ko ifnot: logo() === "" -->
                    <div class="teamwork-box-logo">
                        <img src="images/tw-transparent-logo.png" alt="LifeVault">
                    </div>
                    <!-- /ko -->

                    <div class="custom-login-logo">
                        <div class="image-wrap">
                            <!-- ko if: logo() === "" -->
                                <img src="images/tw-logo-default.png" alt="LifeVault">
                            <!-- /ko -->
                            <!-- ko if: logo() !== "" -->
                                <img data-bind="attr: { src: logo, alt:siteName }" onerror="this.src='images/tw-logo-default.png';">
                            <!-- /ko -->
                        </div><!-- image wrap -->
                    </div><!-- custom logo -->

                    <h2 class="login-site_name" data-bind="text: siteName"></h2>

                    <p>Ok <!-- ko text: name --><!-- /ko -->, just enter your new password and you are all set...</p>

                    <!-- ko if: isSubmitting() && 0 -->
                    <div class="login-logedin-loader">
                        <span class="load-spin"></span>
                    </div>
                    <!-- /ko -->

                    <div xdata-bind="visible:!isSubmitting()">
                        <div class="fields-holder">
                            <div class="field-row" data-bind="visible: showTokenField">
                                <label class="input-label">Token</label>
                                <input type="text" id="userLogin" tabindex="1" name="userLogin" value="" class="input-field" placeholder="Token" data-bind="value: token">
                                <i class="icon icon-username"></i>
                            </div>

                            <div class="field-row">
                                <label class="input-label">Password</label>
                                <input type="password" id="password" tabindex="2" name="password" value="" class="input-field" placeholder="New Password" data-bind="value: password">
                                <i class="icon icon-password"></i>
                            </div>

                            <div class="field-row">
                                <label class="input-label">Confirm Password</label>
                                <input type="password" id="confirmPassword" tabindex="2" name="password" value="" class="input-field" placeholder="Confirm New Password" data-bind="value: confirmPassword">
                                <i class="icon icon-password"></i>
                            </div>
                        </div><!-- fields holder -->

                        <div class="button-holder">
                            <button class="ladda-button button-login" data-style="zoom-out" data-bind="ladda: isSubmitting"><span class="ladda-label" data-bind="text:(isSubmitting()?'Changing Password...':'Change Password')"></span></button>
                        </div><!-- button holder -->
                    </div>

            </div>
            </form>

        </div><!-- login box -->

    </div><!-- container -->

</div><!-- login wrap -->
<!-- Login box - end -->
<!-- IMPORTANT - Mark this template loaded -->
<!-- ko if: $data.readyToShow != null && readyToShow -->
    <div data-bind="template:{afterRender:function(){templateLoaded(true)}}" class="hidden"></div>
<!-- /ko -->