<!doctype html>
<html lang="en">
    <head>
        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
        <script type="text/javascript" src="/public/js/highlight.pack.js"></script>
        <link rel="stylesheet" type="text/css" href="/public/css/monokai.css">
        <script>
            hljs.configure({
                tabReplace: '  '
            })
            hljs.initHighlightingOnLoad();
        </script>
        <style>
        body {margin: 20px;}
        .tab-pane {
            border-bottom:1px solid #ddd;
            border-left:1px solid #ddd;
            border-right:1px solid #ddd;
            padding: 20px;
        }
        </style>
    </head>
  <body>