<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                        <img alt="image" class="img-circle" src="public/app/img/profile_small.jpg" />
                         </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" data-bind="text:app.loggedInUser.firstName() + ' ' + app.loggedInUser.lastName()"></strong>
                         </span> <span class="text-muted text-xs block">267 Journal Entries <b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="active">
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Journal </span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#journal">Journal View</a></li>
                    <li><a href="#calendar">Calendar view</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
<!-- IMPORTANT - Mark this template loaded -->
<!-- ko if: $data.readyToShow != null && readyToShow -->
    <div data-bind="template:{afterRender:function(){templateLoaded(true)}}" class="hidden"></div>
<!-- /ko -->