<!--
  The navigation UI that is docked to the left of the window.
-->
<header class="main--bar">
    <div class="bar-top">
        <nav>
            <ul class="menu-bar">
                <li data-bind="css: { current: app.currentRoute().page === 'dashboard' }">
                    <a data-bind="attr:{ href:'#dashboard' }, click:refreshIfNeeded"><span class="icon icon-dashboard"></span><span class="label-hold">Dashboard</span></a>
                </li>
                <li data-bind="css: { current: app.currentRoute().page === 'journal' }">
                    <a data-bind="attr:{ href: '#journal' }" id="menuTicket" data-toggle-target="#inbox-left-sidebar" data-toggle-parent="#inbox-main-content"><span class="icon icon-tickets"></span><span class="label-hold">Journal</span><span class="badge badge-red"></span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="bar-bottom">
        <ul class="menu-options">
            <li data-bind="css: { current: app.currentRoute().page === 'search' }">
                <a href="#search" class="option option-search"></a>
            </li>
            <li class="dropdown">
                <div class="user-options">
                    <a href="#" class="user-image" id="userMenu" data-toggle="dropdown">
                        <span class="image_hold">
                            <img data-bind="attr:{ src:app.loggedInUser.avatarURL }" alt="User image" onError="this.src='images/examples/noPhoto1.png';">
                        </span>
                    </a><!-- user image -->
                    <ul class="dropdown-menu arrow-down" role="menu" aria-labelledby="userMenu">
                        <li class="user-header">
                            <a href="#"><span class="img-hold">
                                <img data-bind="attr:{ src:app.loggedInUser.avatarURL }" alt="User image" onError="this.src='images/examples/noPhoto1.png';">
                            </span>
                            <span class="name-hold" data-bind="text:app.loggedInUser.firstName() + ' ' + app.loggedInUser.lastName()"></span></a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="#myprofile">
                                <i class="icon profile"></i>
                                My Profile
                            </a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="http://support.teamwork.com/desk/" target="_blank">
                                <i class="icon support"></i>
                                Help &amp; Support
                            </a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="#login" data-bind="click:app.Logout">
                                <i class="icon logout"></i>
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>
<!-- IMPORTANT - Mark this template loaded -->
<!-- ko if: $data.readyToShow != null && readyToShow -->
    <div data-bind="template:{afterRender:function(){templateLoaded(true)}}" class="hidden"></div>
<!-- /ko -->